
@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>
<div>
    <table style="width:100%">
        <tr>
            <th>Customerid</th>
            <th>Cust_name</th>
            <th>Cst_city</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Smith</td>
            <td>Chennai</td>
            <td>smith@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jackson</td>
            <td>Hyderabad</td>
            <td>jackson@gmail.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Doe</td>
            <td>Kolkata</td>
            <td>Doe@gmail.com</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Harry</td>
            <td>Mumbai</td>
            <td>harry@gmail.com</td>
        </tr>
    </table>
</div>
